In [1]:
import json
import re

In [2]:
with open('assignment_1_data/input.json','r') as input_file:
  input_data = json.load(input_file)
  input_file.close()

In [3]:
with open('assignment_1_data/output.json','r') as output_file:
  output_data = json.load(output_file)
  output_file.close()

In [4]:
print(len(input_data))
print(input_data[0])
print(output_data[0])

226
{'sid': 0, 'input_tokens': ['For', 'every', '100', 'females', 'there', 'were', '90.0', 'males', '.']}
{'sid': 0, 'output_tokens': ['<self>', '<self>', 'one hundred', '<self>', '<self>', '<self>', 'ninety point zero', '<self>', 'sil']}

In [5]:
proc_data = []

In [1]:
def token_parser(token):
    has_dig = re.search("\d",token)
    has_sma = re.search("[a-z]",token)
    has_cap = re.search("[A-Z]",token)
    has_pun = re.search("\W",token)
    if(has_pun and not (has_dig or has_sma or has_cap)):
        return '<sil>'
    if(has_dig and not (has_cap or has_pun or has_sma)):
        year_check = re.search("^[12][0-9]{3}$")
        if(year_check):
            return o_year(token)
        else:
            return o_snumber(token)
        pass
    if(has_dig and has_pun and not(has_sma or has_cap)):
        has_dot = re.findall("\.",token)
        has_dash = re.findall("-",token)
        has_bsl = re.findall("\/",token)
        has_perc = re.findall("%",token)
        if(len(has_perc)>0):
            token = re.sub("%","",token)
        has_oth = re.findall("[\W^\s\.-\/%]",token)
        if(len(has_bsl)>0):
            loc = re.search("\/",token)
            return o_snumber(token[:loc.span()[0]]) + " " + o_snumber(token[loc.span()[1]:],True)
        if(len(has_dot)>0 and len(has_dash)>0):
            value = o_decimal(token)
            if(len(has_perc)>0):
                return "minus " + value + " percent"
            else:
                return "minus " + value
            pass
        if(len(has_dot)>1):
            #IP
            return o_IP(token)
            pass
        if(len(has_dash)>1):
            ddmmyyyy_check = re.search("^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-[12][0-9]{3}$",token)
            mmddyyyy_check = re.search("^(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])-[12][0-9]{3}$",token)
            yyyymmdd_check = re.search("^[12][0-9]{3}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$",token)
            if(ddmmyyyy_check):
                return o_ddmmyyyy(token)
            if(mmddyyyy_check):
                return o_mmddyyyy(token)
            if(yyyymmdd_check):
                return o_yyyymmdd(token)
            else:
                return o_IP(token)
            pass
        if(len(has_dash)==1):
            if(has_dash[0].span()[0] == 0):
                ans = 'minus '+ o_snumber(token[1:])
            else:
                return o_IP(token)
            if(len(has_perc)>0):
                return ans + " percent"
            else:
                return ans
        if(len(has_dot)==1):
            if(len(has_oth)>0):
                token = re.sub("[\W^\s\.-\/%]","",token)
            ans = o_decimal(token)
            #curr
            if(len(has_oth)>0): 
                if has_oth[0] == "$":
                    ans += " dollars"
                    return ans
                if has_oth[0] == "€":
                    ans += " euros"
                    return ans
                if has_oth[0] == "₹":
                    ans += " rupees"
                    return ans
                if has_oth[0] == "¥":
                    ans += " yen"
                    return ans
                else:
                    ans += " <sil>"
                    return ans
            #percent
            if len(has_perc)>0:
                ans += " percent"
                return ans
            return ans
        if(len(has_perc)>0):
            return o_snumber(token) + " percent"
        if(len(has_oth)>0):
            token = re.sub("[\W^\s\.-\/%]","",token)
        ans = o_snumber(token)
        #curr
        if(len(has_oth)>0): 
            if has_oth[0] == "$":
                ans += " dollars"
                return ans
            if has_oth[0] == "€":
                ans += " euros"
                return ans
            if has_oth[0] == "₹":
                ans += " rupees"
                return ans
            if has_oth[0] == "¥":
                ans += " yen"
                return ans
            else:
                ans += " <sil>"
                return ans
        return ans
    if(has_dig and has_sma):
        #date
        #currency
        #address
        pass
    if(not has_dig and not has_pun and not has_sma and has_cap):
        #Abbrv
        pass
    if(not has_dig and not has_pun and has_sma):
        return "<self>"
    return "<unk>"

IndentationError: expected an indented block (2738247529.py, line 44)

In [7]:
def o_year(token):
    ans = ""
    m_one = {
        "0":"zero",
        "1":"one",
        "2":"two",
        "3":"three",
        "4":"four",
        "5":"five",
        "6":"six",
        "7":"seven",
        "8":"eight",
        "9":"nine"
    }
    m_ten = {
        "0":"o",
        "10":"ten",
        "11":"eleven",
        "12":"twelve",
        "13":"thirteen",
        "14":"fourteen",
        "15":"fifteen",
        "16":"sixteen",
        "17":"seventeen",
        "18":"eighteen",
        "19":"nineteen",
        "20":"twenty",
        "30":"thirty",
        "40":"forty",
        "50":"fifty",
        "60":"sixty",
        "70":"seventy",
        "80":"eighty",
        "90":"ninty",
        "2":"twenty",
        "3":"thirty",
        "4":"forty",
        "5":"fifty",
        "6":"sixty",
        "7":"seventy",
        "8":"eighty",
        "9":"ninety",
    }
    if token[0:2] in m_ten :
        ans += m_ten[token[0:2]]
    else:
        ans += m_ten[token[0]] + " " + m_one[token[1]]
    ans += " "
    if token[2:4] in m_ten :
        ans += m_ten[token[2:4]]
    else:
        ans += m_ten[token[2]] + " " + m_one[token[3]]
    return ans

In [8]:
def o_number(token):
    m_one = {
        "0":"zero",
        "1":"one",
        "2":"two",
        "3":"three",
        "4":"four",
        "5":"five",
        "6":"six",
        "7":"seven",
        "8":"eight",
        "9":"nine"
    }
    ans = m_one[token[0]]
    for i in range(1,len(token)):
        ans += " " + m_one[token[i]]
    return ans

In [9]:
o_number("111")

'one one one'

In [99]:
def o_snumber(token,oth = False):
    m_one = {
        "0":"zero",
        "1":"one",
        "2":"two",
        "3":"three",
        "4":"four",
        "5":"five",
        "6":"six",
        "7":"seven",
        "8":"eight",
        "9":"nine"
    }
    m_ten = {
        "0":"o",
        "10":"ten",
        "11":"eleven",
        "12":"twelve",
        "13":"thirteen",
        "14":"fourteen",
        "15":"fifteen",
        "16":"sixteen",
        "17":"seventeen",
        "18":"eighteen",
        "19":"nineteen",
        "20":"twenty",
        "30":"thirty",
        "40":"forty",
        "50":"fifty",
        "60":"sixty",
        "70":"seventy",
        "80":"eighty",
        "90":"ninty",
        "2":"twenty",
        "3":"thirty",
        "4":"forty",
        "5":"fifty",
        "6":"sixty",
        "7":"seventy",
        "8":"eighty",
        "9":"ninety",
    }
    m_one_oth={
        "0":"zeroth",
        "1":"first",
        "2":"second",
        "3":"third",
        "4":"fourth",
        "5":"fifth",
        "6":"sixth",
        "7":"seventh",
        "8":"eighth",
        "9":"ninth"
    }
    m_ten_oth = {
        "0":"o",
        "10":"tenth",
        "11":"eleventh",
        "12":"twelfth",
        "13":"thirteenth",
        "14":"fourteenth",
        "15":"fifteenth",
        "16":"sixteenth",
        "17":"seventeenth",
        "18":"eighteenth",
        "19":"nineteenht",
        "20":"twentieth",
        "30":"thirtieth",
        "40":"fortieth",
        "50":"fiftieth",
        "60":"sixtieth",
        "70":"seventieth",
        "80":"eightieth",
        "90":"nintieth",
        "2":"twenty",
        "3":"thirty",
        "4":"forty",
        "5":"fifty",
        "6":"sixty",
        "7":"seventy",
        "8":"eighty",
        "9":"ninety",
    }
    ln = len(token)
    ans = ""
    if(ln == 1 or (ln == 2 and token[0] =='0')):
        if(oth):
            ans += m_one_oth[token[ln-1]]
        else:
            ans += m_one[token[ln-1]]
    elif(ln == 2 or (ln == 3 and token[0] == '0')):
        if(ln == 3):
            token = token[1:]
        if(oth):
            if token[0:2] in m_ten:
                ans += m_ten_oth[token[0:2]]
            else:
                ans += m_ten_oth[token[0]] + " " + m_one_oth[token[1]]
        else:
            if token[0:2] in m_ten:
                ans += m_ten[token[0:2]]
            else:
                ans += m_ten[token[0]] + " " + m_one[token[1]]
    elif(ln == 3 or (ln == 4 and token[0] == '0')):
        if(ln == 4):
            token = token [1:]
        ans = m_one[token[0]] + " hundred"
        if token[1:3] != "00" :
            if token[1] == '0':
                ans += " and " + m_one[token[2]]
            else:
                ans += " "
                if(oth):
                    if token[1:3] in m_ten:
                        ans += m_ten_oth[token[1:3]]
                    else:
                        ans += m_ten_oth[token[1]] + " " + m_one_oth[token[2]]
                else:
                    if token[1:3] in m_ten:
                        ans += m_ten[token[1:3]]
                    else:
                        ans += m_ten[token[1]] + " " + m_one[token[2]]
    elif(ln == 4 or (ln == 5 and token[0] == '0')):
        if(ln == 5):
            token = token[1:]
        ans += m_one[token[0]] + " thousand"
        if(token[1] != '0'):
            ans += " "+ m_one[token[1]] + " hundred"
        if(token[2:4] != '00'):
            if token[2] == '0':
                ans += " and " + m_one[token[3]]
            else:
                ans += " "
                if(oth):
                    if token[2:4] in m_ten:
                        ans += m_ten_oth[token[2:4]]
                    else:
                        ans += m_ten_oth[token[2]] + " " + m_one_oth[token[3]]
                else:
                    if token[2:4] in m_ten:
                        ans += m_ten[token[2:4]]
                    else:
                        ans += m_ten[token[2]] + " " + m_one[token[3]]
    elif(ln == 5):
        if token[0:2] in m_ten:
            ans += m_ten[token[0:2]]+" thousand"
        else:
            ans += m_one[token[0]] + " " + m_one[token[1]]
        if(token[2] != '0'):
            ans += " " + m_one[token[2]] + " hundred"
        if(token[3:5] != '00'):
            if token[3] == '0':
                ans += " and " + m_one[token[4]]
            else:
                ans += " "
                if(oth):
                    if token[3:5] in m_ten:
                        ans += m_ten_oth[token[3:5]]
                    else:
                        ans += m_ten_oth[token[3]] + " " + m_one_oth[token[4]]
                else:
                    if token[3:5] in m_ten:
                        ans += m_ten[token[3:5]]
                    else:
                        ans += m_ten[token[3]] + " " + m_one[token[4]]
    return ans

In [100]:
def o_decimal(token):
    dot = re.search("\.",token)
    ans1 = o_snumber(token[0:dot.span()[0]])
    decm = token[dot.span()[0]+1:]
    #while(len(decm)>1 and decm[len(decm)-1] == '0'):
    #    decm = decm[0:-2]
    ans2 = o_number(decm)
    return ans1 + " point " + ans2

In [101]:
o_decimal("10.50")

'ten point five zero'

In [102]:
def o_IP(token):
    has_dot = re.search("\W",token)
    ans = o_number(token[0:has_dot.span()[0]])
    token = token[has_dot.span()[1]:]
    has_dot = re.search("\W",token)
    while has_dot:
        ans += " <sil> " + o_number(token[:has_dot.span()[0]])
        token = token[has_dot.span()[1]:]
        has_dot = re.search("\W",token)
    ans += " <sil> " + o_number(token)
    return ans

In [109]:
def o_ddmmyyyy(token):
    mon_match={
        "1":"january",
        "2":"febrary",
        "3":"march",
        "4":"april",
        "5":"may",
        "6":"june",
        "7":"july",
        "8":"august",
        "9":"september",
        "10":"october",
        "11":"november",
        "12":"december"
    }
    iden = re.search("[\/,\.\-]",token)
    day = o_snumber(token[:iden.span()[0]],True)
    token = token[iden.span()[1]:]
    if(token[0]=='0'):
        token = token[1:]
    iden = re.search("[\/,\.\-]",token)
    mon = mon_match[token[:iden.span()[0]]]
    token= token[iden.span()[1]:]
    yr = o_year(token)
    ans = day+" of "+mon+" "+yr
    return ans

In [115]:
def o_mmddyyyy(token):
    mon_match={
        "1":"january",
        "2":"febrary",
        "3":"march",
        "4":"april",
        "5":"may",
        "6":"june",
        "7":"july",
        "8":"august",
        "9":"september",
        "10":"october",
        "11":"november",
        "12":"december"
    }
    if(token[0]=='0'):
        token = token[1:]
    iden = re.search("[\/,\.\-]",token)
    mon = mon_match[token[:iden.span()[0]]]
    token= token[iden.span()[1]:]
    iden = re.search("[\/,\.\-]",token)
    day = o_snumber(token[:iden.span()[0]],True)
    token = token[iden.span()[1]:]
    yr = o_year(token)
    ans = mon+" "+day+" "+yr
    return ans

In [116]:
def o_yyyymmdd(token):
    mon_match={
        "1":"january",
        "2":"febrary",
        "3":"march",
        "4":"april",
        "5":"may",
        "6":"june",
        "7":"july",
        "8":"august",
        "9":"september",
        "10":"october",
        "11":"november",
        "12":"december"
    }
    iden = re.search("[\/,\.\-]",token)
    yr = o_year(token[:iden.span()[0]])
    token = token[iden.span()[1]:]
    if(token[0]=='0'):
        token = token[1:]
    iden = re.search("[\/,\.\-]",token)
    mon = mon_match[token[:iden.span()[0]]]
    token= token[iden.span()[1]:]
    day = o_snumber(token,True)
    ans = mon+" "+day+" "+yr
    return ans

In [120]:
o_yyyymmdd("2010/12,21")

'december twenty first twenty ten'

In [13]:
for i in range(0,30):
    print(input_data[i]['input_tokens'])
    print(output_data[i]['output_tokens'])

['For', 'every', '100', 'females', 'there', 'were', '90.0', 'males', '.']
['<self>', '<self>', 'one hundred', '<self>', '<self>', '<self>', 'ninety point zero', '<self>', 'sil']
['ISBN', '1-881089-97-5', 'Scharnhorst', ',', 'Gary', ';', 'Bales', ',', 'Jack', '(', '1981', ')', '.']
['i s b n', 'one sil eight eight one o eight nine sil nine seven sil five', '<self>', 'sil', '<self>', 'sil', '<self>', 'sil', '<self>', 'sil', 'nineteen eighty one', 'sil', 'sil']
['On', '14 June 2014', 'Lazio', 'bought', 'Candreva', 'outright', 'for', 'another', '€4 million', ',', 'so', 'in', 'total', 'Lazio', 'paid', 'Udinese', '€5.7 million', '.']
['<self>', 'the fourteenth of june twenty fourteen', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'four million euros', 'sil', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'five point seven million euros', 'sil']
['Retrieved', '21 May 2013', 'Decree', 'Law', '17/96', ',', '8 March 1996', '(', 'in', 'Portuguese', ')', '.']
['<self>', 'the twenty first of may twenty thirteen', '<self>', '<self>', 'seventeen ninety sixths', 'sil', 'the eighth of march nineteen ninety six', 'sil', '<self>', '<self>', 'sil', 'sil']
['Israeli', 'Airplay', 'Chart', '.']
['<self>', '<self>', '<self>', 'sil']
['Her', 'dad', 'tells', 'her', 'that', 'if', 'Shyam', 'admits', 'his', 'love', 'to', 'her', 'first', ',', 'then', "he'll", 'accept', 'them', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil', '<self>', '<self>', '<self>', '<self>', 'sil']
['Retrieved', '20 January 2010', '.']
['<self>', 'the twentieth of january twenty ten', 'sil']
['The', 'population', 'density', 'was', '18', 'people', 'per', 'square', 'mile', '(', '7/km²', ')', '.']
['<self>', '<self>', '<self>', '<self>', 'eighteen', '<self>', '<self>', '<self>', '<self>', 'sil', 'seven per square kilometers', 'sil', 'sil']
['For', 'the', '2006', '-', '07', 'state', 'education', 'budget', ',', '$10 million', 'was', 'allocated', '.']
['<self>', '<self>', 'two thousand six', 'sil', 'seven', '<self>', '<self>', '<self>', 'sil', 'ten million dollars', '<self>', '<self>', 'sil']
['The', 'racial', 'makeup', 'of', 'the', 'village', 'was', '99.05%', 'White', ',', '0.32%', 'from', 'other', 'races', ',', 'and', '0.63%', 'from', 'two', 'or', 'more', 'races', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'ninety nine point o five percent', '<self>', 'sil', 'zero point three two percent', '<self>', '<self>', '<self>', 'sil', '<self>', 'zero point six three percent', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil']
['Australia', 'finished', 'on', '7/283', ',', 'consequently', 'needing', 'to', 'restrict', 'South', 'Africa', 'to', 'less', 'than', '227', 'to', 'gain', 'the', 'bonus', 'point', '.']
['<self>', '<self>', '<self>', 'seven two hundred eighty thirds', 'sil', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'two hundred twenty seven', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil']
['"', 'United', 'Nations', 'Treaty', 'Collection', ':', 'Chapter', 'IV', ':', 'Human', 'Rights', ':', '11', '.']
['sil', '<self>', '<self>', '<self>', '<self>', 'sil', '<self>', 'four', 'sil', '<self>', '<self>', 'sil', 'eleven', 'sil']
['The', 'Thanetian', 'was', 'established', 'by', 'Swiss', 'geologist', 'Eugene', 'Renevier', 'in', '1873', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'eighteen seventy three', 'sil']
['ISBN', '978-0-304-35252-4', 'Cox', ',', 'Robert', 'Jon', '(', '2010', ')', '.']
['i s b n', 'nine seven eight sil o sil three o four sil three five two five two sil four', '<self>', 'sil', '<self>', '<self>', 'sil', 'twenty ten', 'sil', 'sil']
['"', 'Review', ':', 'Vennela', '1 1/2', '(', 'Telugu', ')', 'is', 'loathsome', '"', '.']
['sil', '<self>', 'sil', '<self>', 'one and a half', 'sil', '<self>', 'sil', '<self>', '<self>', 'sil', 'sil']
['The', 'overflight', 'of', 'the', 'Atlantic', '—', 'from', 'Natal', 'to', 'Dakar', '—', 'lasted', '11', 'hours', 'and', '10', 'minutes', '(', '1,908 mi', '/', '3,070 km', ')', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', 'sil', '<self>', '<self>', '<self>', '<self>', 'sil', '<self>', 'eleven', '<self>', '<self>', 'ten', '<self>', 'sil', 'one thousand nine hundred eight miles', 'sil', 'three thousand seventy kilometers', 'sil', 'sil']
['He', 'came', 'to', 'the', 'crease', 'at', '4/38', 'and', 'scored', '34', 'of', 'the', 'next', '48', 'runs', 'added', ',', 'before', 'falling', 'at', '7/86', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'four thirty eighths', '<self>', '<self>', 'thirty four', '<self>', '<self>', '<self>', 'forty eight', '<self>', '<self>', 'sil', '<self>', '<self>', '<self>', 'seven eighty sixths', 'sil']
['Cameron', 'Dollar', 'defeated', 'Martin', 'Stapleton', 'via', 'submission', '(', 'rear', 'naked', 'choke', ')', 'at', '1:34', 'of', 'round', '1', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil', '<self>', '<self>', '<self>', 'sil', '<self>', 'one thirty four', '<self>', '<self>', 'one', 'sil']
['Males', 'had', 'a', 'median', 'income', 'of', '$39,844', 'versus', '$21,761', 'for', 'females', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'thirty nine thousand eight hundred forty four dollars', '<self>', 'twenty one thousand seven hundred sixty one dollars', '<self>', '<self>', 'sil']
['Loeffler', 'polled', '57 percent', 'of', 'the', 'ballots', 'cast', 'in', 'the', 'campaign', 'against', 'Wolff', '.']
['<self>', '<self>', 'fifty seven percent', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil']
['They', 'placed', '4th', 'at', '2007', 'Europeans', 'and', '8th', 'at', 'Worlds', '.']
['<self>', '<self>', 'fourth', '<self>', 'two thousand seven', '<self>', '<self>', 'eighth', '<self>', '<self>', 'sil']
['However', 'Tannet', 'died', 'in', 'the', 'early', '10th', 'century', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'tenth', '<self>', 'sil']
['Loving', 'Healing', 'Press', '(', '2011', ')', '.']
['<self>', '<self>', '<self>', 'sil', 'twenty eleven', 'sil', 'sil']
['At', '2:50 p.m.', 'local', 'time', ',', 'a', 'tornado', 'warning', 'was', 'issued', 'for', 'the', 'speedway', 'area', 'and', 'the', 'grandstands', 'were', 'evacuated', '.']
['<self>', 'two fifty p m', '<self>', '<self>', 'sil', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil']
['Record', 'transfer', 'fee', 'received', ':', '£50,000', '(', 'including', 'add', 'ons', ')', 'from', 'NAC', 'Breda', 'for', 'Peter', 'Thomson', ',', '1999', '.']
['<self>', '<self>', '<self>', '<self>', 'sil', 'fifty thousand pounds', 'sil', '<self>', '<self>', '<self>', 'sil', '<self>', 'n a c', '<self>', '<self>', '<self>', '<self>', 'sil', 'nineteen ninety nine', 'sil']
['She', 'only', 'reached', 'the', 'quarterfinals', 'at', 'one', 'other', 'tournament', ',', 'Oklahoma', 'City', ',', 'where', 'she', 'lost', 'to', 'Davenport', '.']
['<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil', '<self>', '<self>', 'sil', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil']
['Dreilinger', ',', 'Danielle', '(', 'October 21, 2015', ')', '.']
['<self>', 'sil', '<self>', 'sil', 'october twenty first twenty fifteen', 'sil', 'sil']
['The', '34th', 'Tank', 'Division', 'itself', 'comprised', 'the', '67th', 'and', '68th', 'Tank', 'Regiments', 'and', 'the', '34th', 'Motor', 'Rifle', 'Regiment', '.']
['<self>', 'thirty fourth', '<self>', '<self>', '<self>', '<self>', '<self>', 'sixty seventh', '<self>', 'sixty eighth', '<self>', '<self>', '<self>', '<self>', 'thirty fourth', '<self>', '<self>', '<self>', 'sil']
['An', 'entirely', 'new', 'car', ',', 'the', '917/20', 'was', 'built', 'as', 'test', 'bed', 'for', 'future', 'CanAm', 'parts', 'and', 'aerodynamic', '"', 'low', 'drag', '"', 'concepts', '.']
['<self>', '<self>', '<self>', '<self>', 'sil', '<self>', 'nine hundred seventeen twentieths', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', '<self>', 'sil', '<self>', '<self>', 'sil', '<self>', 'sil']
['Cranbury', ',', 'New', 'Jersey', ':', 'Associated', 'University', 'Presses', ',', 'inc', '1977', 'ISBN', '0-8387-1972-4', 'John', 'Reid', '(', '2005', ')', '.']
['<self>', 'sil', '<self>', '<self>', 'sil', '<self>', '<self>', '<self>', 'sil', '<self>', 'nineteen seventy seven', 'i s b n', 'o sil eight three eight seven sil one nine seven two sil four', '<self>', '<self>', 'sil', 'two thousand five', 'sil', 'sil']